<!-- templates/base.html -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Gestão de Projetos</title>
    <!-- Links do Bootstrap CSS (opcional) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    {% if user.is_authenticated %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Navegação -->
            <ul class="nav navbar-nav">
                <li><a href="{% url 'dashboard' %}">Início</a></li>
                {% if user.user_type == 'aluno' %}
                <li><a href="{% url 'lista_projetos' %}">Meus Projetos</a></li>
                <li><a href="{% url 'historico_notas' %}">Notas</a></li>
                {% elif user.user_type == 'avaliador' %}
                <li><a href="{% url 'lista_turmas' %}">Turmas</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'sair' %}">Sair</a></li>
            </ul>
        </div>
    </nav>
    {% endif %}

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Scripts do Bootstrap JS (opcional) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  
</body>
</html>
